.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    width: 100%;
    padding: 10px;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: rgb(49, 49, 49);
    border-radius: 5px;
    padding: 3%;
    box-shadow: 3px 3px 5px 2px rgb(40, 38, 38)
}

.align-items {
    display: flex;
    justify-content: center;
}

.desc-count {
    margin-right: 60px;
}


/* Estilizando imagem do card */

.card div img {
    height: 64px;
}

.count {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    position: relative;
    text-decoration: none;
    cursor: default;
    color: rgba(218, 217, 217, 0.726);
}

.desc-count {
    color: white;
}

.column-notificacoes {
    flex-direction: column;
}

.divs {
    width: 100%;
    margin-top: 75px;
}

.row-wrap-divs {
    flex-flow: row wrap;
}

.content-desc-not {
    display: flex;
    justify-content: center;
}

.content-desc-unid {
    display: flex;
    justify-content: center;
}

.desc-not {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 80%;
    height: 50px;
    color: azure;
    border-bottom: #ffe601 solid 1px;
}

.tipos-alertas {
    display: flex;
}

.circle {
    width: 25px;
    height: 25px;
    border-radius: 200px;
    text-align: center;
    margin-left: 20px;
    margin-right: 5px;
}

.red {
    background-color: #F5B2B2;
    color: #C33737;
}

.yellow {
    background-color: #FADC94;
    color: #D0950A;
}

.alinhamento-totens-line1 {
    justify-content: space-between !important;
}

.container-boxes {
    width: 80% !important;
}

#caixa {
    width: auto !important;
}