@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
.container-box-crud {
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
}

.container-box-crud {
    background-color: #1d1d1d;
    height: 500px;
    display: flex;
    justify-content: center;
}

.box-crud {
    height: auto;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.content-table {
    border-radius: 5px;
    box-shadow: 3px 3px 5px 2px rgb(61, 61, 61);
    background-color: rgb(60, 60, 60);
    margin-top: 45px;
    justify-content: center;
    display: flex;
    border-radius: 5px;
}

tbody tr:nth-child(odd) {
    background-color: #c4c4c477;
}

tbody tr:nth-child(even) {
    background-color: #323232;
    color: rgb(129, 128, 128);
}

body {
    font-family: Verdana;
}

table {
    width: 100%;
}

thead tr {
    background-color: #ffe601;
    color: #fff;
    border-radius: 50px;
}

th,
td {
    padding: 1rem;
    text-align: center;
}

th {
    font-weight: bold;
}


/*lixinho e lapis*/

.icones {
    width: 90px;
}

.box-table {
    display: flex;
    float: inline-start;
    padding: 5px;
}

.bt-del {
    color: #FF4F4F;
}

.bt-edit {
    color: rgb(106, 171, 105);
}

.update-crud {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    border: none;
    background-color: #ffe601;
    margin-right: 5px;
    cursor: pointer;
    padding-top: 10px;
}

.fa-pencil-alt {
    width: 40px;
    color: white;
}

.update-crud:hover {
    background-color: #ffe601;
}

.delet-crud {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    border: none;
    background-color: #FF4F4F;
    margin-left: 15px;
    cursor: pointer;
    padding-top: 10px;
}

.delet-crud i {
    width: 40px;
    color: white;
}

.delet-crud:hover {
    background-color: #cf2525;
}

.table td,
.table th {
    padding: .5rem !important;
}


/************************************************************************  fim da tabela  ********************************************************************************/

@media screen and (max-width: 850px) {
    table {
        font-size: 14px;
    }
    .fa .fas {
        font-size: 14px !important;
    }
    td {
        padding: 0.75rem;
    }
}

@media screen and (max-width: 768px) {
    .modal__inner {
        width: 90%;
        height: 90%;
        box-sizing: border-box;
    }
    .modal__inner-delet {
        width: 90%;
        height: 90%;
        box-sizing: border-box;
    }
    table {
        font-size: 10px;
    }
    .fa .fas {
        font-size: 10px !important;
    }
}

@media screen and (max-width: 700px) {
    table {
        font-size: 9px;
    }
    .fa .fas {
        font-size: 9px;
    }
}

@media screen and (max-width: 450px) {
    table {
        font-size: 7px;
    }
    .fa .fas {
        font-size: 7px;
    }
}

@media screen and (max-width: 400px) {
    table {
        font-size: 5px;
    }
    .fa .fas {
        font-size: 2px;
    }
}