@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
}

.header {
    padding: 20px 1.75% 0 1.75%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.container_site {
    display: flex;
    justify-content: center;
}

.container-formulario {
    /*background-color: cadetblue;*/
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
}

.container_site {
    display: flex;
    background-image: url(./assets/backgroundimg.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.box-titulo {
    /*background-color: aquamarine;*/
    width: 90vw;
    /* height: 20vh; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.box-titulo h1 {
    color: #FFE607;
    text-decoration: solid;
    font-size: 40px;
}

.container-formulario {
    /*background-color: cadetblue;*/
    width: 90vw;
    /* height: 80vh; */
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-formulario .container-campos {
    width: 80vw;
    height: 75vh;
    background-color: #3B414A;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-formulario .container-campos .box-campo {
    color: #D8D8D8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
}

.container-formulario .container-campos .box-campo-grande {
    color: #D8D8D8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2vh;
    margin: 10px;
}

.container-formulario .container-campos .box-campo input {
    width: 25vw;
    background-color: #FAFAFA;
    border-style: none;
    height: 4vh;
    border-radius: 150px;
    margin-top: 1vh;
    margin-left: 1vh;
    margin-right: 1vh;
    padding: 10px;
}

.container-formulario .container-campos .box-campo-duplo {
    display: flex;
    margin-bottom: 2vh;
    margin: 10px;
}

.container-formulario .container-campos .box-campo-duplo span {
    margin-left: 1vh;
}

.container-formulario .container-campos .box-campo-grande input {
    width: 51.2vw;
    background-color: #FAFAFA;
    border-style: none;
    height: 4vh;
    border-radius: 150px;
    margin-top: 1vh;
    padding: 10px;
}

.box-select {
    color: #FAFAFA;
    display: flex;
    flex-direction: column;
}

.box-select select {
    border: none;
    width: 25vw;
    height: 4vh;
    border-radius: 150px;
    margin-top: 1vh;
    margin-left: 1vh;
    margin-right: 1vh;
}

.box-select span {
    margin-left: 1vh;
}

#btn-cadastrar-empresa {
    background-color: inherit;
    border-style: none;
    height: 5vh;
    border-radius: 150px;
    width: 7vw;
    border: #FFE607;
    border: solid 1px;
    color: #FFE607;
    font-size: 2.5vh;
}

span:hover {
    cursor: default;
}

#btn-cadastrar-empresa:hover {
    background-color: inherit;
    border-style: none;
    height: 5vh;
    border-radius: 150px;
    width: 10vw;
    /*dfac04*/
    border: #DFAC04;
    border: solid 1px;
    color: #DFAC04;
    font-size: 2.5vh;
    cursor: pointer;
}

@media only screen and (max-width:550px) {
    #btn-cadastrar-empresa {
        width: 15vw;
    }
    .box-titulo h1 {
        font-size: 24px;
    }
}

@media only screen and (max-width:400px) {
    #btn-cadastrar-empresa {
        width: 20vw;
    }
}

@media only screen and (max-width:350px) {
    #btn-cadastrar-empresa {
        width: 25vw;
    }
}